@model List<CodeL1.Context.Quiz3>
@{
    ViewBag.Title = "Data";
}

<h1>Quiz</h1>
@using (Html.BeginForm())
{
    @Html.RadioButton("SomeGroup", "t1")
    @Html.RadioButton("SomeGroup", "t2")
    @Html.RadioButton("SomeGroup", "t3")
    @Html.RadioButton("SomeGroup", "t4")
}
<input  type="radio" name="approve" id="1" />Radio

@using (Html.BeginForm())
{

    <input type="text" name="EmployeeID" value=" " /><text>Enter your EmployeeID</text>
<table class="table table-condensed">
    <tr>
        <th>Question</th>
        <th></th>
    </tr>

@for (var x = 0; x < Model.Count - 1; x++)
{

    // @for (var peep in Model)    {







    <tr>


        <tr><td><h3>@Model[x].Question</h3></td></tr>

        <tr><td><input type="radio" name="Answer[@x]" id="1" value="1"/>@Model[x].a1</td></tr>
        <tr><td><input type="radio" name="Answer[@x]" id="2" value="2"/>@Model[x].a2</td></tr>
        <tr><td><input type="radio" name="Answer[@x]" id="3" value="3"/>@Model[x].a3</td></tr>
        <tr><td><input type="radio" name="Answer[@x]" id="4" value="4"/>@Model[x].a4</td></tr>
    
    
    </tr>


    // }
}

</table>

<input type="submit" value="submit" />

}